<div class='dashboard-container'>
<br>
  <h1><b>Bonjour <%=current_user.name%>,</b></h1>

<!-- Conso générale Div 1 -->

<div class='recap-conso'>
  <div class='day-conso'>
    <h2 class='title-conso'>Ma dernière consommation</h2>
    <canvas id="myChart"></canvas>
<%# <canvas id="myChart" data-meats=<%= @meats.pluck(:name) data-consos = @consos %>
<%# </canvas> %>
    <div class='dashboard-buttons'>
      <a class="pink_button btn-dashboard-pink" href="#">Mon suivi</a>
      <a class="white_button btn-dashboard-pink" href="#">Modifier</a>
    </div>
  </div>

  <div class='dashboard-row'>
      <h2 class='title-conso-globale'>L'impact global de ma consommation</h2>
        <div class='grid-conso'>
          <div class='card card-dashboard'>
            <div class= 'dash-card-content'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669805107/water_d8hj6l.png", width: 60, height: 60) %>
                <p><b>Consommation d'eau</b></p>
                <p> 200 Litres</p>
              </div>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669894851/nuage_i0fay8.png", class:'dashboard-pic', width: 60, height: 60 ) %>
                <p class='titre'><b>Emission carbone</b></p>
                <p> 452 Co2</p>
              </div>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669894851/arbre_jfxahv.png", width: 60, height: 60, class:'dashboard-pic') %>
                <p class='titre'><b>Déforestation</b></p>
                <p> 38 arbres</p>
              </div>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669894851/cochon_yw40ko.png", width: 60, height: 60, class:'dashboard-pic' ) %>
                <p class='titre'><b>Souffrance animale</b></p>
                <p> 5 animaux tués</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Conso sur 7 jours - Div 2 -->

  <div class='conso-sept'>
    <h3 class='week-conso'>Ma consommation sur 7 jours</h3>
  </div>

<!-- APIs -->

  <div class='dashboard-apis'>
    <div class='dash-api'>
      <div class='api-title'>
        <h3 class='dashboard-recettes'>Idées recettes</h3>
        <h4>Marmiton</h4>
        <h5>Prochainement...</h5>
      </div>
    </div>

    <div class='dash-api'>
      <div class='api-title'>
      <h3 class='dashboard-tweets'>Ceci pourrait vous intéresser</h3>
        <h4>Twitter</h4>
        <h5>Prochainement...</h5>
      </div>
    </div>
  </div>

<!-- Cards associations -->

    <h3 class='dashboard-assos'>Associations</h3>
  <div class='cards-associations'>
    <% @assos.each do |asso| %>
      <div class="card">
            <div class="image-container image-container-asso">
              <% if asso.photo.attached? %>
              <%= cl_image_tag asso.photo.key, crop: :fill, class:'image-card image-card-asso' %>
              <% else %>
              <%= image_tag "images/logo.png", alt: "associations" %>
              <% end %>
              <div class="petite-div-text">
              <h5 class="card-title"><%= asso.name%></h5>
              <p class="card-text"><%= asso.description%></p></div>
            </div>
              <a href="<%= asso.url%>" target="_blank" class="btn btn-dashboard-pink pink_button">Visiter le site</a>
            <%# <div class="card-body">
            </div> %>
        </div>
    <% end %>
  </div>
</div>
