<div class='dashboard-container'>
<br>
  <h1><b>Le résultat de ma consommation</b></h1>

<!-- Conso générale Div 1 -->

<div class='recap-conso'>
  <div class='day-conso'>
    <h2 class='title-conso title-result'>Ma consommation</h2>
    <% if @day.consos.pluck(:quantity).sum == 0 %>
      <p class='felicitations'>Félicitations ! Tu n'as pas consommé de viande aujourd'hui. 👏</p>
    <%else %>
      <canvas id="myChart" data-controller="donut" data-beef=<%= @beef_percent %> data-chicken=<%= @chicken_percent %> data-pork=<%= @pork_percent %> data-sheep=<%= @sheep_percent %> data-fish=<%= @fish_percent %>></canvas>
    <%end %>

<%# <canvas id="myChart" data-meats=<%= @meats.pluck(:name) data-consos = @consos %>
<%# </canvas> %>

    <div class='dashboard-buttons'>
      <a  class=" btn-show-pink" href="/dashboard">Mon suivi</a>
    </div>
  </div>

  <div class='dashboard-row'>
      <h2 class='title-conso-globale'>L'impact de ma consommation</h2>
        <div class='grid-conso'>
          <div class='card card-dashboard' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Calculée à partir de la moyenne mondiale de litres d'eau douce utilisés par kilo de viande." >
            <div class= 'dash-card-content'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669805107/water_d8hj6l.png", width: 60, height: 60) %>
                <p><b>Consommation d'eau douce</b></p>
                <p class='resultat-chiffre eau'> <%= @water_impact_show%> litres </p>
              </div>
            </div>
          </div>

        <div class='card card-dashboard' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Calculée à partir de la moyenne mondiale d'émission de gaz à effet de serre par kilo de viande. Les émissions sont mesurées en kilogramme de dioxide de carbone équivalents (CO2eq) par kilo de viande.
C'est à dire que les gaz autres que le CO2 sont mesurés par la quantité de rechauffement qu'ils provoquent sur une echelle de 100ans." >            <div class='dash-card-content'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669894851/nuage_i0fay8.png", class:'dashboard-pic', width: 60, height: 60 ) %>
                <p class='titre'><b>Emission de gaz à effet de serre</b></p>
                <p class='resultat-chiffre CO2eq'><%= @carbon_impact_show%> CO2eq</p>
              </div>
            </div>
          </div>

          <div class='card card-dashboard' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Calculée à partir de la moyenne mondiale de terres utilisées en m² pour un kilo de viande. Par exemple, pour 1kg de boeuf seulement, 326m² sont necessaires ce qui équivaut à 17 arbres coupés.">
            <div class='dash-card-content'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1669894851/arbre_jfxahv.png", width: 60, height: 60, class:'dashboard-pic') %>
                <p class='titre'><b>Déforestation</b></p>
                <p class='resultat-chiffre deforestation'><%= @tree_impact_show%> m²</p>
              </div>
            </div>
          </div>

<div class='card card-dashboard' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Calculée à partir de la moyenne mondiale d'eutrophisation pour un kilo de viande. L'eutrophisation est le ruissellement d'éléments nutritifs en excès dans l'environnement et les cours d'eau environnants, qui affectent et polluent les écosystèmes.
Elle est exprimée en gramme de phosphate équivalents (PO₄eq) pour un kilo de viande.">            <div class='dash-card-content'>
              <div class='dash-card-text'>
                <%= image_tag("https://res.cloudinary.com/dwvsbgwap/image/upload/v1670240319/seaweed_qvnswv.png", width: 50, height: 50, class:'dashboard-pic' ) %>
                <p class='titre'><b>Pollution de l'eau</b></p>
                <p class='resultat-chiffre pollution'><%= @pollution_impact_show%> PO₄eq</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Cards associations -->

    <h3 class='dashboard-assos'>Associations</h3>
  <div class='cards-associations carte-asso'>
    <% @assos.each do |asso| %>
    <div class="card">
          <div class="image-container image-container-asso">
            <% if asso.photo.attached? %>
            <%= cl_image_tag asso.photo.key, crop: :fill, class:'image-card image-card-asso' %>
            <% else %>
            <%= image_tag "images/logo.png", alt: "associations" %>
            <% end %>
            <div class="petite-div-text">
              <h5 class="card-title"><%= asso.name%></h5>
              <p class="card-text"><%= asso.description%></p></div>
            </div>
            <div class="d-flex justify-content-center align-items-center btn-asso">
              <a href="<%= asso.url%>" target="_blank" class="btn btn-dashboard-pink pink_button">Visiter le site</a>
            </div>
          </div>
    <% end %>
  </div>
</div>
